<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DatabaseHostName" value="msfqamockdb.mwe.local"/>
    <add key="SleepTimeForLongPooling" value="1500"/>
  </appSettings>
  <connectionStrings>
    <add name="dbConnString" connectionString="Data Source=msfqamockdb.mwe.local;Initial Catalog=testDatabase;User ID=dbUser;Password=dbPass!1;Network Library=DBMSSOCN;MultisubnetFailover=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>